
<%- include("../../views/partials/user/header") %>



<div class="container-fluid"  style="background-color: #f1f3f6;">
   
    <%- include("../../views/partials/user/breadcrumb") %>

    <div class="dashboard-container">
        
      <!-- Include the sidebar partial -->
      <%- include("../../views/partials/user/sidebar") %>
      

      <div class="dashboard-content" id="dashboardContent">
      

        <div class="dashboard-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="dashboard-card">
                        <div class="card-title">Total Orders</div>
                        <div class="card-body">
                            <i class="fas fa-rocket"></i>
                            <span class="card-text"><%= totalOrders %></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dashboard-card">
                        <div class="card-title">Pending Orders</div>
                        <div class="card-body">
                            <i class="fas fa-clipboard-list"></i>
                            <span class="card-text"><%= pendingCount %></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dashboard-card">
                        <div class="card-title">Completed Orders</div>
                        <div class="card-body">
                            <i class="fas fa-box"></i>
                            <span class="card-text"><%= completedCount %></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="dashboard-card account-info">
                        <div class="card-title">Account Info</div>
                        <div class="user-info">
                            <i class="fas fa-user"></i>
                            <div class="user-details">
                                <p><span id="name"><%= user.name%></span></p>
                                <span><%= user.state%></span>
                                <span><%=user.email%></span>
                                <span><%=user.phone%></span>
                            </div>
                        </div>
                       <a href="/user/account"><button class="edit-button">Edit Account</button></a> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dashboard-card billing-address">
                        <div class="card-title"> Address</div>
                        <div class="user-info">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="user-details">
                                <span><%= user.name %></span>
                                <span><%= firstAddress ? firstAddress.place : 'N/A' %></span>
                                <span><%= firstAddress ? firstAddress.pin : 'N/A' %></span>
                                <span><%= firstAddress ? firstAddress.contactNo : 'N/A' %></span>
                            </div>
                        </div>
                       <a href="/user/address"> <button class="edit-button">Edit Address</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
      </div>
    </div>
    
    <%- include("../../views/partials/user/footer") %>
  </div>
  